body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.links {
    position: absolute;
    top: 20px;
    right: 20px;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 24px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    background-color: rgb(153, 154, 155);
    color:white;
    cursor: pointer;
}

.advanced-button {
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
#advanced-search-button {
    background-color: blue;
}